@import "colors";
@import "mixins";

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

/* ---=== CONTAINERS ===--- */
.section-wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* ---=== TEXTS ===--- */

.link-text {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000;
  transition: $hover-transition;
  &:hover {
    color: $magenta;
  }
}

/* ---=== BUTTONS ===--- */

.main-btn {
  font-size: 14px;
  font-weight: 600;
  margin-left: 15px;
  width: 100px;
  border: none;
  background-color: $yellow;
  transition: all 0.3s ease-out;
  cursor: pointer;
  outline: none;
  height: 44px;
  &:hover {
    background-color: black;
    color: $yellow;
  }
}
