@import "../../../../assets/scss/base.scss";
@import "../../../../assets/scss/colors.scss";
@import "../../../../assets/scss/mixins.scss";

.search-form__container {
  display: flex;
  align-items: center;
  width: auto;
  grid-area: searForm;
  @media (max-width: $bp-medium) {
    display: none;
  }
  form {
    width: 100%;
    display: flex;
    font-size: 14px;
    .confirm-search__btn {
      font-size: 14px;
      font-weight: 500;
      margin-left: 15px;
      min-width: 100px;
      border: none;
      background-color: $turquise;
      transition: $hover-transition;
      cursor: pointer;
      &:hover {
        background-color: $aquamarine;
      }
    }
  }
  .input-field {
    color: #4a474e;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    height: 44px;
    line-height: 44px;
    width: 100%;
    display: flex;

    .btn-search {
      width: 30px;
      margin-left: 5px;
      border: none;
      font-size: 16px;
      padding-left: 0;
      background-color: transparent;
      outline: none;
      cursor: pointer;
    }

    .input-search {
      width: calc(100% -30px);
      border: none;
      height: 100%;
      font-size: 14px;
      background-color: transparent;
      outline: none;
      @media only screen and (max-width: $bp-xsmall) {
        width: 130px;
      }
      &::placeholder {
        color: #4a474e;
      }
    }
  }
}
