@import "../../assets/scss/base.scss";
@import "../../assets/scss/main.scss";

.categories-wrapper {
  padding: 20px;
  max-width: 240px;
  min-width: 240px;
  width: 100%;
  border-right: 3px solid $yellow;

  @media (max-width: $bp-tablet) {
    display: none;
  }
}
