@import "../../../../assets/scss/base.scss";
@import "../../../../assets/scss/colors.scss";
@import "../../../../assets/scss/mixins.scss";

.cart-header__container {
  grid-area: cart;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 10px 0 10px 20px;
  @media (max-width: $bp-tablet) {
    justify-content: flex-end;
  }
  .cart-icon__container {
    font-size: 50px;
    height: 72px;
    cursor: pointer;

    .cart-icon-productList {
      background-color: red;
      height: 22px;
      position: relative;
      top: -25px;
      left: 25px;
      width: 22px;
      border-radius: 50%;
  
      .cart-icon-productList-number {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        font-weight: bolder;
        text-decoration: none;
        color: white;
        margin: 0;
        padding: 0;
      }
    }
  }

  .product-price__container,
  .product-amount__container,
  .checkout-btn {
    @media (max-width: $bp-tablet) {
      display: none;
    }
  }
}
