@import "../../../assets/scss/base.scss";
.top-header__wrapper {
  height: 100px;

  padding: 0 60px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "logo searForm cart";

  @media (max-width: $bp-medium) {
    padding: 0 10px;
    grid-template-columns:1fr auto 1fr;
    grid-template-areas: "hamburger logo  cart";
  }
  .hambureger {
    grid-area: hamburger;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    @media (min-width: $bp-medium) {
      display: none;
    }
  }
  .logo-container {
    display: flex;
    max-width: 227px;
    align-items: center;
    grid-area: logo;
    img {
      display: block;
      width: 100%;
      max-height: 40px;
    }
  }
}
