@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/base.scss";

.product-images__wrapper {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  grid-area: productImages;
  .invisible {
    opacity: 0;
  }
  .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .big-image__box {
    margin-bottom: 10px;

    img {
      max-width: 100%;
      width: 100%;
      max-height: 260px;
      height: 260px;

    }
  }

  .image-miniatures__box {
    display: flex;
    justify-content: space-between;

    .image-miniature__item {
      max-width: 31%;
      cursor: pointer;
      border: 2px solid transparent;
      box-sizing: border-box;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: #fff;
        transition: opacity 0.4s ease-out;
      }
      &:hover {
        &::before {
          opacity: 0.6;
        }
      }
      img {
        display: block;
        max-width: 100%;
        height: 80px;
        @media (max-width: $bp-medium) {
          height: auto;
          max-height: 200px;
        }
      }
      &.selected {
        border: 2px solid $yellow;
      }
    }
  }
}
