@import "../../../../assets/scss/colors.scss";
@import "../../../../assets/scss/base.scss";

.product-inspiration__container {
  padding: 10px;
  height: 400px;
  max-width: 260px;
  

  background-image: url("../../../../assets/images/paper-bg.jpg");
  &:nth-of-type(2) {
    background-position: right;
  }
  &:nth-of-type(3) {
    background-position: top;
  }

  @media (max-width: $bp-medium) {
    max-width: 100%;
    background-size: cover;
    margin-bottom: 20px;
    height: auto;
    min-height: 100px;
  }
}
