@import "../../assets/scss/base.scss";
@import "../../assets/scss/main.scss";

.product-card__wrapper {
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px auto 1fr auto;
  gap: 1px 15px;
  grid-template-areas: "productImages productName productName" "productImages productActions productActions" "productImages productDescription productDescription" "productInspirations productInspirations productInspirations";
  @media (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 1px 1px;
    grid-template-areas: "productName" "productActions" "productImages" "productDescription" "productInspirations";
  }
  @media (max-width: $bp-tablet) {
    margin-left: 0;
    padding: 0 5px;
  }
  .product-title {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    grid-area: productName;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.productName {
  grid-area: productName;
}

.productActions {
  grid-area: productActions;
}

.productImages {
  grid-area: productImages;
}

.productDescription {
  grid-area: productDescription;
}

.productInspirations {
  grid-area: productInspirations;
}
