@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/base.scss";
@import "../../../assets/scss/mixins.scss";

.product-actions__wrapper {
  padding: 20px;
  padding-left: 0;
  grid-area: productActions;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $bp-tablet) {
    flex-direction: column;
  }

  .product-actions__left,
  .product-actions__right {
    display: flex;
    align-items: center;
    height: 60px;
  }
  .product-actions__right {
    align-items: flex-start;
  }
  .prices__container {
    min-width: 150px;
    margin-right: 20px;
    .product_price {
      font-size: 2rem;
      margin: 0;
      @media (max-width: $bp-tablet) {
        font-size: 1.6rem;
      }
    }
    .product-old__price {
      font-size: 0.7rem;
      font-weight: 400;
      margin: 0;
      margin-top: 5px;
    }
  }

  .color-select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    min-width: 160px;
    @media (max-width: $bp-tablet) {
      min-width: 100px;
    }
  }

  .color-select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: lightgray;
    color: black;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 44px;
    transition: $hover-transition
  }

  .color-select select::-ms-expand {
    display: none;
  }

  .color-select select:hover,
  .color-select select:focus {
    color: black;
    background: $magenta;
  }

  .color-select select:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: black transparent transparent transparent;
  }

  .color-select select:hover ~ .select__arrow,
  .selcolor-selectect select:focus ~ .select__arrow {
    border-top-color: black;
  }

  .color-select select:disabled ~ .select__arrow {
    border-top-color: gray;
  }
}
