@import "../../../assets/scss/colors.scss";

.product-description__wrapper {
  grid-area: productDescription;
  margin-top: 15px;
  overflow: hidden;
  margin-bottom: 40px;

  .read-more__btn {
    display: block;
    margin: 10px auto;
  }
}
