@import "../../../assets/scss/base.scss";
.bottom-header__wrapper {
  height: 30px;

  padding: 0 60px;
  @media (max-width: $bp-tablet) {
    display: none;
  }
  .link-item {
    font-size: 16px;
    margin-right: 10px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      background-color: black;
      height: 80%;
      top: 50%;
      opacity: 0.2;
      right: -5px;
      transform: translateY(-50%);
    }
  }
}
