@import "../../assets/scss/base.scss";
.footer-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  width: 100%;
  margin: 30px auto 0 auto;
  padding: 0 60px;
  overflow: hidden;
  @media (max-width: $bp-medium) {
      flex-direction: column;
      padding: 10px ;
  }
  .footer-left__container {
    width: 50%;
    @media (max-width: $bp-medium) {
        width: 100%;
        margin-bottom: 20px;
    }
  }
  .logo-container {
    display: flex;
    max-width: 227px;
    align-items: center;
    margin-bottom: 6px;
    img {
      display: block;
      width: 100%;
      max-height: 40px;
    }
  }

  .footer-right__container {
    display: flex;
    justify-content: space-between;
    .footer-title {
      margin-top: 0;
      margin-bottom: 6px;
      font-size: 18px;
    }
    .bestselelrs__container {
      margin-right: 40px;
      .bestsellers-list {
        padding-left: 20px;
      }
    }
    .social-links__container {
      .social-list {
        list-style-type: none;
        padding: 0;
        i {
            margin-right: 10px;
        }
      }
    }
  }
}
