@import "../../../assets/scss/colors.scss";
@import "../../../assets/scss/base.scss";


  .product-inspirations__wrapper{
  
    grid-area: productInspirations;
    justify-content: space-between;
    display: flex;
    @media (max-width: $bp-medium) {
      flex-direction: column;
    }
  }

